FileTranser.MTOM.ClassLibrary/Web References/FileTranserServiceProxy/FileTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://FileTransfer.MTOM.WebServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://FileTransfer.MTOM.WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://FileTransfer.MTOM.WebServices/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lasetupdateversion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUpdateSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUpdateSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUpdateSignResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dbInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpLoadInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpLoadInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpLoadInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dbInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetDefaultDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RowID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCluesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCluesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReCheckData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReCheckDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReCheckDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCheckData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logintoken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCheckDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCheckDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentUserPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentUserPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentUserPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUploadToke">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUploadTokeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUploadTokeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppendChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uploaderToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppendChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppendChunkResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndAppendChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploaderToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="InfoMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndAppendChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EndAppendChunkResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFileHash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UploadToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFileHashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckFileHashResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxRequestLength">
        <s:complexType />
      </s:element>
      <s:element name="GetMaxRequestLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxRequestLengthResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentversion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetUpdateSignSoapIn">
    <wsdl:part name="parameters" element="tns:SetUpdateSign" />
  </wsdl:message>
  <wsdl:message name="SetUpdateSignSoapOut">
    <wsdl:part name="parameters" element="tns:SetUpdateSignResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataStatus" />
  </wsdl:message>
  <wsdl:message name="GetDataStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpLoadInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpLoadInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpLoadInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpLoadInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetDefaultDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetDefaultData" />
  </wsdl:message>
  <wsdl:message name="SetDefaultDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetDefaultDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetCluesSoapIn">
    <wsdl:part name="parameters" element="tns:GetClues" />
  </wsdl:message>
  <wsdl:message name="GetCluesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCluesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReCheckDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReCheckData" />
  </wsdl:message>
  <wsdl:message name="UpdateReCheckDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReCheckDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCheckDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCheckData" />
  </wsdl:message>
  <wsdl:message name="UpdateCheckDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCheckDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentUserPath" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentUserPathResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUploadTokeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUploadToke" />
  </wsdl:message>
  <wsdl:message name="GetUploadTokeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUploadTokeResponse" />
  </wsdl:message>
  <wsdl:message name="AppendChunkSoapIn">
    <wsdl:part name="parameters" element="tns:AppendChunk" />
  </wsdl:message>
  <wsdl:message name="AppendChunkSoapOut">
    <wsdl:part name="parameters" element="tns:AppendChunkResponse" />
  </wsdl:message>
  <wsdl:message name="EndAppendChunkSoapIn">
    <wsdl:part name="parameters" element="tns:EndAppendChunk" />
  </wsdl:message>
  <wsdl:message name="EndAppendChunkSoapOut">
    <wsdl:part name="parameters" element="tns:EndAppendChunkResponse" />
  </wsdl:message>
  <wsdl:message name="CheckFileHashSoapIn">
    <wsdl:part name="parameters" element="tns:CheckFileHash" />
  </wsdl:message>
  <wsdl:message name="CheckFileHashSoapOut">
    <wsdl:part name="parameters" element="tns:CheckFileHashResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxRequestLengthSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxRequestLength" />
  </wsdl:message>
  <wsdl:message name="GetMaxRequestLengthSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxRequestLengthResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="FileTransferWebServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInfo">
      <wsdl:input message="tns:GetUpdateInfoSoapIn" />
      <wsdl:output message="tns:GetUpdateInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUpdateSign">
      <wsdl:input message="tns:SetUpdateSignSoapIn" />
      <wsdl:output message="tns:SetUpdateSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataStatus">
      <wsdl:input message="tns:GetDataStatusSoapIn" />
      <wsdl:output message="tns:GetDataStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpLoadInfo">
      <wsdl:input message="tns:GetUpLoadInfoSoapIn" />
      <wsdl:output message="tns:GetUpLoadInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultData">
      <wsdl:input message="tns:SetDefaultDataSoapIn" />
      <wsdl:output message="tns:SetDefaultDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClues">
      <wsdl:input message="tns:GetCluesSoapIn" />
      <wsdl:output message="tns:GetCluesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReCheckData">
      <wsdl:input message="tns:UpdateReCheckDataSoapIn" />
      <wsdl:output message="tns:UpdateReCheckDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckData">
      <wsdl:input message="tns:UpdateCheckDataSoapIn" />
      <wsdl:output message="tns:UpdateCheckDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserPath">
      <wsdl:input message="tns:GetCurrentUserPathSoapIn" />
      <wsdl:output message="tns:GetCurrentUserPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserInfo">
      <wsdl:input message="tns:GetCurrentUserInfoSoapIn" />
      <wsdl:output message="tns:GetCurrentUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUploadToke">
      <wsdl:input message="tns:GetUploadTokeSoapIn" />
      <wsdl:output message="tns:GetUploadTokeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppendChunk">
      <wsdl:input message="tns:AppendChunkSoapIn" />
      <wsdl:output message="tns:AppendChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EndAppendChunk">
      <wsdl:input message="tns:EndAppendChunkSoapIn" />
      <wsdl:output message="tns:EndAppendChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFileHash">
      <wsdl:input message="tns:CheckFileHashSoapIn" />
      <wsdl:output message="tns:CheckFileHashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxRequestLength">
      <wsdl:input message="tns:GetMaxRequestLengthSoapIn" />
      <wsdl:output message="tns:GetMaxRequestLengthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <wsdl:input message="tns:UpdateInfoSoapIn" />
      <wsdl:output message="tns:UpdateInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileTransferWebServiceSoap" type="tns:FileTransferWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInfo">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/GetUpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUpdateSign">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/SetUpdateSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataStatus">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/GetDataStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpLoadInfo">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/GetUpLoadInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultData">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/SetDefaultData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClues">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/GetClues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReCheckData">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/UpdateReCheckData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckData">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/UpdateCheckData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserPath">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/GetCurrentUserPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserInfo">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/GetCurrentUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUploadToke">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/GetUploadToke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppendChunk">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/AppendChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndAppendChunk">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/EndAppendChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFileHash">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/CheckFileHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxRequestLength">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/GetMaxRequestLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <soap:operation soapAction="http://FileTransfer.MTOM.WebServices/UpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileTransferWebServiceSoap12" type="tns:FileTransferWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInfo">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/GetUpdateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUpdateSign">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/SetUpdateSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataStatus">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/GetDataStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpLoadInfo">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/GetUpLoadInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultData">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/SetDefaultData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClues">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/GetClues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReCheckData">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/UpdateReCheckData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckData">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/UpdateCheckData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserPath">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/GetCurrentUserPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserInfo">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/GetCurrentUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUploadToke">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/GetUploadToke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppendChunk">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/AppendChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndAppendChunk">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/EndAppendChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFileHash">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/CheckFileHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxRequestLength">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/GetMaxRequestLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInfo">
      <soap12:operation soapAction="http://FileTransfer.MTOM.WebServices/UpdateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransferWebService">
    <wsdl:port name="FileTransferWebServiceSoap" binding="tns:FileTransferWebServiceSoap">
      <soap:address location="http://156.18.1.93/TMPAServices/filetransfer.asmx" />
    </wsdl:port>
    <wsdl:port name="FileTransferWebServiceSoap12" binding="tns:FileTransferWebServiceSoap12">
      <soap12:address location="http://156.18.1.93/TMPAServices/filetransfer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>